<html>
<head>

  <title>{{.Title}} | Processes</title>

  <link rel="stylesheet" href="/static/style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the controls package.
    google.charts.load('current', {'packages':['corechart', 'controls'], 'language': 'ru'});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawDashboard);

    function drawDashboard() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      data.addRows([
		{{- range $process := .Processes -}}
			{{$process}},
	   	{{- end}}
	  ]);

	  var dashboard = new google.visualization.Dashboard(
		document.getElementById('timeline_div'));


	  var serverFilter = new google.visualization.ControlWrapper({
		'controlType': 'CategoryFilter',
		'containerId': 'serverfilter_div',
		'options': {
		  'filterColumnLabel': 'Resource',
		  'ui': {label: 'Server', labelSeparator: ':'},
		}
	  });

	  var trackHeight = 50;
	  var ganttChart = new google.visualization.ChartWrapper({
		'chartType': 'Gantt',
		'containerId': 'gantt_div',
		'dataTable': data,
		'options': {
			'label': 'Время жизни процессов',
			'height': data.getNumberOfRows() * trackHeight + trackHeight,
			'percentEnabled': false,
		}
	  });

	  dashboard.bind(serverFilter, ganttChart);
	  dashboard.draw(data);

	  google.visualization.events.addListener(ganttChart, 'select', selectHandler);

	  function selectHandler(e) {
		var selection = ganttChart.getChart().getSelection();
		if (selection.length != 1) {
			return;
		}
		var item = selection[0];
		if (item.row == null) {
			return;
		}
		var str = ganttChart.getDataTable().getValue(item.row, 0);
		
		location.replace('/performance/' + str)
	  }

	}

	</script>
</head>
<body>
	{{.DataFilter}}
	{{.Navigation}}
	<div id="timeline_div">
		<div id="serverfilter_div" style="vertical-align: middle;"></div>
  		<div id="gantt_div" style="width: 100%; height: calc(100% - 30px);">></div>
	</div>
</body>
</html>
