<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{.Title}}</title>

  <link rel="stylesheet" href="/static/style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the controls package.
	google.charts.load('current', {'packages':['table']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawDashboard);

    function drawDashboard() {
	    var data = new google.visualization.DataTable();
        data.addColumn('string', 'Process');
        data.addColumn('string', 'Server');
        data.addColumn('string', 'IP');
        data.addColumn('string', 'Port');
        data.addColumn('datetime', 'First event');
        data.addColumn('datetime', 'Last event');

        data.addRows([
		{{- range $process := .Processes -}}
			{{$process}},
	   	{{- end}}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

		var dateFormat = new google.visualization.DateFormat({pattern: "YYYY-MM-dd HH:mm:ss"});
		dateFormat.format(data, 4);
		dateFormat.format(data, 5);

        table.draw(data, {showRowNumber: false, width: '100%'});
	}

	</script>
</head>
<body>
	<div>
		<h2>Источник данных: {{.Title}}</h2>
		<h3>дата обработки: {{.ProcessingTime}} (версия {{.Version}})</br>
			размер данных: {{.ProcessingSize}},
			скорость обработки: {{.ProcessingSpeed}}/сек.</h3>
	</div>
	<hr>
	{{.DataFilter}}
	{{.Navigation}}
	<hr>
	<div id="table_div"></div>

</body>
</html>
